# Виртуальное окружение
venv/
env/
.env

# Файлы базы данных
*.sqlite3
db.sqlite3

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc

# Папка с загруженными медиафайлами
media/

# Файлы IDE (например, для VS Code)
.vscode/